*{
    margin:0%;
    padding:0;
}
body{
    background-color:#8b0000
}
header{
    width: 100%;
    height: 130px;
    background-color:black;
    float:left;
    color:#8b0000;
}
header div{
    width:50%;
    float:left;
}
#logo img{
    height:120px;
}
#titulo{
    padding-top:30px;
}
#nav{
    width:100%;
    height:40px;
    background-color: #126577;
    float:left;
    padding: 15px;
}
nav ul{
    list-style:none;
    margin:5px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    font-size: 24px;
    margin-left:30px;
    color:#fff
    padding:20px;
}
nav ul li a:hover{
    color: #fff;
}
main{
    width:100%;
    float: left;
    margin-top:10px;
}
main div{
    width:80%;
    margin:0 auto;
}
.imagens{
    width:30%;
    float: left;
    border:1px solid #fff;
    margin:5px;
}
.imagens img{
    width:100%;
}
footer{
    width:100%;
    float:left;
    color:#f8f6f6
    padding:15px;
}
footer p{
    text-align: center;
}